extends layout

block content
  div.main-content
    h4 Статья содержала следующие слова

    table.bow-table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
        thead
            tr: th.mdl-data-table__cell--non-numeric Word
                th Frequency
                th IDF

        tbody
        each val in bagofwords
            tr
                td.mdl-data-table__cell--non-numeric
                    span #{val.term}
                td 
                    span #{val.frequency}
                td 
                    span #{val.idf}

    button(onclick="location.href = '/'").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored Назад



