extends layout

block content
  div.main-content
    h4 Вставьте ссылку на статью на английском языке ниже

    form(method="POST" action="/bow").entryForm
      .mdl-textfield.mdl-js-textfield
        input(type="text" name="theUrl").urlInput.mdl-textfield__input#sample1
        label(for="sample1").mdl-textfield__label Ссылка на статью... 
      button(type="submit").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored Анализ


