doctype html
html
  head
    title= "Bag of Words"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/stylesheets/material.indigo-pink.min.css")
    script(src="/javascripts/material.min.js")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    block content
  .footer Кормильчикова Юлия, 2018