body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.main-content * {
  margin: 0 auto;
}

.entryForm {
  width: auto;
}

.entryForm * {
  display: inline-block;
  width: auto;
  margin: auto;
}

.bow-table {
  text-align: center;
  width: 60%;
}

.bow-table * {
  text-align: center !important;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 20px;
}


